Repository usman-coe/gatsby-starter-default: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn lint:fix", "git add"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix", "git add"],
  "{*.{json,md}}": ["prettier --write", "git add"]
}

upgrate package
  package.json
  yarn.lock
Due: none

remove prop-types
  package.json
Due: none

add emotion
  gatsby-config.js
  package.json
  yarn.lock
Due: yarn lint:fix

add sample thai text and use font sarabun
  .lintstagedrc
  gatsby-config.js
  package.json
  src/components/layout.css
  src/components/layout.tsx
  src/pages/page-2.tsx
  yarn.lock
Due: yarn lint:fix, prettier --write, stylelint --fix

use Sarabun font and Typography
  gatsby-config.js
  package.json
  src/components/layout.css
  src/components/layout.tsx
  src/pages/page-2.tsx
  src/utils/typography.js
  yarn.lock
Due: yarn lint:fix, prettier --write, stylelint --fix

add analyzer
  gatsby-config.js
  package.json
  yarn.lock
Due: yarn lint:fix

update package
  package.json
  yarn.lock
Due: none
